swap 2 variables without using 3rd variable

In [1]:
x=1
y=3

x=x+y
y=x-y
x=x-y
print(x,y)

3 1

write a function to take a list value and create its cube if its a integer number and make the changes for the original data on every index

In [2]:
def cube(l):
    for i in range(len(l)):
        if type(l[i])==int:
            l[i]=l[i]**3
a=[1,2,3,4]
cube(a)
print(a)

[1, 8, 27, 64]

Write a program to find lcm of 2 numbers

In [3]:
a=20
b=25
maxi=max(a,b)
lcm=maxi
i=1
while(True):
    if maxi*i%a==0 and maxi*i%b==0:
        lcm=maxi*i
        break;
    i+=1
print(lcm)

100

Write  a program to find gcd of 2 numbers

In [4]:
a=13
b=17
mini=min(a,b)
i=1
gcd=1
while(i<=mini):
    if a%i==0 and b%i==0:
        if gcd<i:
            gcd=i
    i+=1
print(gcd)

1

Create a function which takes a parameter of string type 
-Accept the string in case if the string contains all the  vowels only in even positions
-else reject

In [5]:
def has_all_vowels(s):
    a=set(s)
    c=0
    for i in a:
        if i in 'aeiou':
            c+=1
    if c==5:
        return True
    else:
        return False
s='aeiousAll'
print(has_all_vowels(s.lower()))

True

In [6]:
def check_vowel_in_even_pos(s):
    flag=True
    if has_all_vowels(s):
        for i in s:
            if s.index('a')%2==1 or s.index('e')%2==1 or s.index('i')%2==1 or s.index('o')%2==1 or s.index('u')%2==1:
                flag=False
                break
    return flag
s='aezisoxu'
if check_vowel_in_even_pos(s):
    print("String accepted")
else:
    print("String rejected as vowels are not in even positions")

String rejected as vowels are not in even positions

Find lcm of multiple elements by  using variable length arguments in the function

In [7]:
def find_lcm(*args):
    if len(args)<2:
        print("Please enter atleast 2 numbers to find LCM")
        return
    else:
        
        m=max(args)
        i=1
        lcm=m
        while True:
            count=0
            for e in args:
                if m*i%e!=0:
                    break
                else:
                    count+=1
            if count==len(args):
                lcm=m*i
                break
            i+=1
    return lcm
print(find_lcm(10,20,30,40))

120

In [8]:
list(filter(lambda x:x%2==0,[1,2,3,4,5,6]))

[2, 4, 6]

In [9]:
list(map(lambda x:x.split(),['1','2','3','45']))

[['1'], ['2'], ['3'], ['45']]

In [10]:
import functools
l=[1,2,3]
functools.reduce(lambda x,y:x+y,l)

6

In [11]:
#Create a lsit of dict values having keys as the names and marks as values
student_marks=[
    {'name':'Zee','marks':[100,200,300,400,500,600]},
    {'name':'Saran','marks':[10,20,30,40,50,60]},
    {'name':'Charan','marks':[20,40,50,13,67,80]}
]

In [12]:
for i in student_marks:
       print("Name: ",i['name']," Marks :",i['marks'])

Name:  Zee  Marks : [100, 200, 300, 400, 500, 600]
Name:  Saran  Marks : [10, 20, 30, 40, 50, 60]
Name:  Charan  Marks : [20, 40, 50, 13, 67, 80]

In [13]:
#Create a lambda function which will calculate the average of list marks
for i in student_marks:
       average=lambda i:sum(i['marks'])/len(i['marks'])
       print("Name: ",i['name']," Average:",average(i))

Name:  Zee  Average: 350.0
Name:  Saran  Average: 35.0
Name:  Charan  Average: 45.0

In [14]:
for i in student_marks:
    i['max']=lambda i:max(i['marks'])
    i['min']=lambda i:min(i['marks'])
    print("Name: ",i['name']," Min: ",i['min'](i)," Max ",i['max'](i))

Name:  Zee  Min:  100  Max  600
Name:  Saran  Min:  10  Max  60
Name:  Charan  Min:  13  Max  80

Create a lambda function to get the table of any number 
" 2
4
6
8
10"

In [15]:
y=int(input('Enter a number'))
x=list(map(lambda x:str(x*y), range(1,11)))
print('\n'.join(x))

Enter a number4
4
8
12
16
20
24
28
32
36
40

In [16]:
(lambda x:sum(x))([1,2,3])

6